@model IEnumerable<MDF.Domain.Theme>


<div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <div id="content-wrapper">

        <div id="content">
            <h2>Sport</h2>
            @foreach (var theme in Model.Where(x => x.Category == 1))
            {
                <blockquote>
                    <a href="#">

                        <dt>@Html.ActionLink(@theme.Title, "Index", "Comments", new { theme.Id }, htmlAttributes: new { })</dt>
                        <dd>
                            <em>
                                @theme.DepText
                            </em>

                        </dd>
                    
                    </a>
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Sterge", "Delete", "Home", new { theme.Id }, htmlAttributes: new { })
                    }
            </blockquote>
            }
            
            <blockquote>
                @Html.ActionLink("Adauga", "Create", "Home", new { category = 1 }, htmlAttributes: new { })
            </blockquote>
            
            
            <h2>Film</h2>
            @foreach (var theme in Model.Where(x => x.Category == 2))
            {
                <blockquote>
                    <a href="#">
                   
                        <dt>@Html.ActionLink(@theme.Title, "Index", "Comments", new { theme.Id }, htmlAttributes: new { })</dt>
                        <dd>
                            <em>
                                @theme.DepText
                            </em>

                        </dd>
                    
                    </a>
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Sterge", "Delete", "Home", new { theme.Id }, htmlAttributes: new { })
                    }
                </blockquote>
            }<a href="#">
                 <blockquote>
                     @Html.ActionLink("Adauga", "Create", "Home", new { category = 2 }, htmlAttributes: new { })
                 </blockquote>
            </a>
            <h2>Politica</h2>
            @foreach (var theme in Model.Where(x => x.Category == 3))
            {
                <blockquote>
                    <a href="#">
                   
                        <dt>@Html.ActionLink(@theme.Title, "Index", "Comments", new { theme.Id }, htmlAttributes: new { })</dt>
                        <dd>
                            <em>
                                @theme.DepText
                            </em>

                        </dd>
                    
                    </a>
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Sterge", "Delete", "Home", new { theme.Id }, htmlAttributes: new { })
                    }
                </blockquote>
            }<a href="#">
                 <blockquote>
                     @Html.ActionLink("Adauga", "Create", "Home", new { category = 3 }, htmlAttributes: new { })
                 </blockquote>
            </a>
            <h2>Activitati</h2>
            @foreach (var theme in Model.Where(x => x.Category == 4))
            {
                <blockquote>
                    <a href="#">
                   
                        <dt>@Html.ActionLink(@theme.Title, "Index", "Comments", new { theme.Id }, htmlAttributes: new { })</dt>
                        <dd>
                            <em>
                                @theme.DepText
                            </em>

                        </dd>
                    
                    </a>
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Sterge", "Delete", "Home", new { theme.Id }, htmlAttributes: new { })
                    }
                </blockquote>
            }
            <a href="#">
                <blockquote>
                    @Html.ActionLink("Adauga", "Create", "Home", new { category = 4 }, htmlAttributes: new { })
                </blockquote>
            </a>
        </div>
    </div>
    <div id="sidebar-wrapper">
        <div id="sidebar">
                        
            <h3>Starea ta</h3>
            <blockquote>
                @if (!Request.IsAuthenticated)
                {
                    @Html.Label("", "Anonim")
                }
                else if(User.IsInRole("admin"))
                {
                    @Html.Label("","Admin", new{style="color:red;"})
                }
                else
                {
                    @Html.Label("",User.Identity.Name,  new{style="color:green;"})
                }
            </blockquote>
            
            <h3>De ce forumul nostru merita atentia ta?</h3>
            <ul>
                <li>In acest forum fiecare persoana poate incepe discutia pe o tema anumita din categoriile sport, film, politica, activitati.</li>
                <br/><li>Ai optiunea de a face cont si de a scrie din numele lui, sau, daca doresti, poti lasa un comentariu si fara ca sa intri in cont, pentru a fi maximal de anonim.</li>
                <br/><li>Administratia nu este aspra, si accepta orice parere.</li>
                <br/><li>Aici poti intalni persoane care gandesc si au o parere fix ca a ta.</li>
                <br/>
            </ul>
            <h3>Pentru a incepe discutia pe o tema care te intereseaza urmareste pasii dati:</h3>
            <ol>
                <li>Inregistreaza-te daca ai cont deja facut, daca nu, il poti creea foarte usor in 2 minute apasand pe butonul <strong>Inregistrare</strong>.</li><br/>
                <li>Alege categoria din care face parte tema ta.</li><br/>
                <li>Apasa pe <strong>Adauga</strong> si apoi introdu numele temei si descrierea ei.</li><br/>
                <li>Atat! Acum oricine se poate imparti cu parerea sa in comentarii!</li><br/>
            </ol>


        </div>

    </div>
</div>